{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bookmark/main.css' %}">

        <!-- Custom fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

        <title> {{ title }} </title>
    </head>
    <body id="bootstrap-overrides">
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light m-3 shadow-sm">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="{% url 'bookmark-home' %}">Bookmark'd</a>
            <!-- Navbar toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapse -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookmarks">Bookmarks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/visited">Visited</a>
                    </li>
                </ul>
                <!-- Input group -->
                <div class="input-group my-2 offset-sm-1 offset-md-3 offset-lg-5 offset-xl-7">
                    <input class="form-control" type="search" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="container">
            {% block main %}
                <div class="col col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
                    <!-- Alert messages -->
                    {% block alerts %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock alerts %}
                    <!-- Content -->
                    {% block content %}{% endblock content %}
                </div>
            {% endblock main %}
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>