{% extends "bookmark/home.html" %}

<!-- Main content -->
{% block main %}
    <div class="row">
        <div class="col col-sm-8 col-md-6 col-lg-4 offset-md-2 offset-lg-4">
            <!-- Alert messages -->
            {% block alerts %}
                {{ block.super }}
            {% endblock alerts %}
            <!-- Content -->
            {% block content %}
                {{ block.super }}
            {% endblock content %}
        </div>
        <!-- Sidebar -->
        <div class="d-none d-sm-block col-sm-4 col-md-3 col-lg-2">
            <div class="btn-block p-2 text-center" id="sort-by">Sort by...</div>
            <form action="{% url 'bookmarks' %}" method="get">
                <input type="hidden" name="sort_by" value="Distance">
                <input type="submit" class="btn btn-middle btn-block" value="Distance">
            </form>
            <form action="{% url 'bookmarks' %}" method="get">
                <input type="hidden" name="sort_by" value="Popularity">
                <input type="submit" class="btn btn-middle btn-block" value="Popularity">
            </form>
            <form action="{% url 'bookmarks' %}" method="get">
                <input type="hidden" name="sort_by" value="Rating">
                <input type="submit" class="btn btn-middle btn-block" value="Rating">
            </form>
            <form action="{% url 'bookmarks' %}" method="get">
                <input type="hidden" name="sort_by" value="Cuisine">
                <input type="submit" class="btn btn-middle btn-block" value="Cuisine">
            </form>
            <form action="{% url 'bookmarks' %}" method="get">
                <input type="hidden" name="sort_by" value="Price">
                <input type="submit" class="btn btn-middle btn-block" value="Price">
            </form>
            <form action="{% url 'bookmarks' %}" method="get">
                <input type="hidden" name="sort_by" value="Open Now">
                <input type="submit" class="btn btn-middle btn-block" value="Open Now">
            </form>
            <form action="{% url 'bookmarks' %}" method="get">
                <input type="submit" class="btn btn-bottom btn-block" value="Date Added">
            </form>
        </div>
    </div>
{% endblock main %}

<!-- Subtitle -->
{% block subtitle %}
    <h6 class="card-subtitle">
        {% for category in categories %}
            {% if category.restaurant == restaurant %}
                {{ restaurant.location.address }} &#8226; {{ category.category.title }}
                {% if restaurant.price is not None %}
                    &#8226; {{ restaurant.price }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </h6>
{% endblock subtitle %}

<!-- Close button -->
{% block close_button %}
    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="business_id" value="{{ restaurant.business_id }}">
        <input type="hidden" name="name" value="{{ restaurant.name }}">
        <input type="submit" class="close" value="&times;">
    </form>
{% endblock close_button %}

<!-- Visited button -->
{% block visited %}
    <form action="{% url 'add-to-visited-from-bookmarks' %}" method="post">
        {% csrf_token %}
        <!-- Restaurant -->
        <input type="hidden" name="business_id" value="{{ restaurant.business_id }}">
        <input type="hidden" name="name" value="{{ restaurant.name }}">
        <!-- Visited button -->
        <input type="submit" class="btn-sm btn-primary btn-block" id="bookmarks-visited" value="Visited">
    </form>
{% endblock visited %}

<!-- Bookmark button -->
{% block bookmark_button %}
{% endblock bookmark_button %}

<!-- Pagination -->
{% block pagination %}
    {% if is_paginated %}
        {% include "bookmark/pagination.html" %}
    {% endif %}
{% endblock pagination %}