{% extends "bookmark/home.html" %}

<!-- Main content -->
{% block main %}
    <div class="row">
        <div class="col col-sm-8 col-md-6 col-lg-4 offset-sm-1 offset-md-3 offset-lg-4">
            <!-- Alert messages -->
            {% block alerts %}
                {{ block.super }}
            {% endblock alerts %}
            <!-- Content -->
            {% block content %}
                {{ block.super }}
            {% endblock content %}
        </div>
        <!-- Sidebar -->
        <div class="d-none d-sm-block col-sm-3">
            <h5> Sort by...</h5>
            <div class="btn-group-vertical">
                <input type="submit" class="btn btn-primary" value="Distance">
                <input type="submit" class="btn btn-primary" value="Popularity">
                <form action="{% url 'sort-by-rating' %}" method="get">
                    <input type="submit" class="btn btn-primary btn-middle" value="Rating">
                </form>
                <form action="{% url 'sort-by-cuisine' %}" method="get">
                    <input type="submit" class="btn btn-primary btn-middle" value="Cuisine">
                </form>
                <form action="{% url 'is-open-now' %}" method="get">
                    <input type="submit" class="btn btn-primary btn-middle" value="Open Now">
                </form>
                <input type="submit" class="btn btn-primary" value="Date Added">
            </div>
        </div>
    </div>
{% endblock main %}

<!-- Close button -->
{% block close_button %}
    <form action="delete" method="post">
        {% csrf_token %}
        <input type="hidden" name="name" value="{{ restaurant.name }}">
        <input type="hidden" name="business_id" value="{{ restaurant.id }}">
        <input type="submit" class="close" value="&times;">
    </form>
{% endblock close_button %}

<!-- Visited button -->
{% block visited_button %}
    <input type="submit" class="btn-sm btn-primary btn-block" value="Visited">
{% endblock visited_button %}

<!-- Bookmark button -->
{% block bookmark_button %}
{% endblock bookmark_button %}