{% extends "bookmark/base.html" %}
{% load staticfiles %}

<!-- Content -->
{% block content %}
    {% for restaurant in restaurants %}
        <!-- Card -->
        <div class="card mb-3">
            {% if restaurant.image_url %}
                <img class="card-image-top" src="{{ restaurant.image_url }}">
            {% endif %}
            <!-- Card body -->
            <div class="card-body">
                {% block close_button %}{% endblock close_button %}
                <h5 class="card-title">{{ restaurant.name }}</h5>
                {% block subtitle %}
                    <h6 class="card-subtitle">
                        {% with restaurant.location.address1 as address %}
                        {% with restaurant.categories.0.title as category %}
                        {% with restaurant.price as price %}
                            {{ address }}
                            {% if address and category or address and price %}
                                &#8226;
                            {% endif %}
                            {{ category }}
                            {% if category and price %}
                                &#8226;
                            {% endif %}
                            {{ restaurant.price }}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    </h6>
                {% endblock subtitle %}
            </div>
            <!-- Card footer -->
            {% block footer %}
            <div class="card-footer p-0">
                <!-- Bookmark form -->
                <form action="{% url 'add-to-bookmarks' %}" method="post">
                    {% csrf_token %}
                    <!-- Restaurant -->
                    <input type="hidden" name="restaurant-business_id" value="{{ restaurant.id }}">
                    <input type="hidden" name="restaurant-name" value="{{ restaurant.name }}">
                    <input type="hidden" name="restaurant-rating" value="{{ restaurant.rating }}">
                    <input type="hidden" name="restaurant-review_count" value="{{ restaurant.review_count }}">
                    <input type="hidden" name="restaurant-price" value="{{ restaurant.price }}">
                    <input type="hidden" name="restaurant-phone" value="{{ restaurant.phone }}">
                    <input type="hidden" name="restaurant-image_url" value="{{ restaurant.image_url }}">
                    <input type="hidden" name="restaurant-yelp_url" value="{{ restaurant.url }}">
                    <!-- Categories -->
                    <input type="hidden" name="category-categories" value="{{ restaurant.categories }}">
                    <!-- Location -->
                    <input type="hidden" name="location-address" value="{{ restaurant.location.address1 }}">
                    <input type="hidden" name="location-city" value="{{ restaurant.location.city }}">
                    <input type="hidden" name="location-province" value="{{ restaurant.location.state }}">
                    <input type="hidden" name="location-country" value="{{ restaurant.location.country }}">
                    <input type="hidden" name="location-postal_code" value="{{ restaurant.location.zip_code }}">
                    <input type="hidden" name="location-longitude" value="{{ restaurant.coordinates.longitude }}">
                    <input type="hidden" name="location-latitude" value="{{ restaurant.coordinates.latitude }}">
                    {% block bookmark_button %}
                        <input type="submit" class="btn-sm btn-primary float-left"  id="home-page-bookmark" value="Bookmark">
                    {% endblock bookmark_button %}
                </form>
                <!-- Visited form -->
                <form action="{% url 'add-to-visited' %}" method="post">
                    {% csrf_token %}
                    <!-- Restaurant -->
                    <input type="hidden" name="restaurant-business_id" value="{{ restaurant.id }}">
                    <input type="hidden" name="restaurant-name" value="{{ restaurant.name }}">
                    <input type="hidden" name="restaurant-rating" value="{{ restaurant.rating }}">
                    <input type="hidden" name="restaurant-review_count" value="{{ restaurant.review_count }}">
                    <input type="hidden" name="restaurant-price" value="{{ restaurant.price }}">
                    <input type="hidden" name="restaurant-phone" value="{{ restaurant.phone }}">
                    <input type="hidden" name="restaurant-image_url" value="{{ restaurant.image_url }}">
                    <input type="hidden" name="restaurant-yelp_url" value="{{ restaurant.url }}">
                    <!-- Categories -->
                    <input type="hidden" name="category-categories" value="{{ restaurant.categories }}">
                    <!-- Location -->
                    <input type="hidden" name="location-address" value="{{ restaurant.location.address1 }}">
                    <input type="hidden" name="location-city" value="{{ restaurant.location.city }}">
                    <input type="hidden" name="location-province" value="{{ restaurant.location.state }}">
                    <input type="hidden" name="location-country" value="{{ restaurant.location.country }}">
                    <input type="hidden" name="location-postal_code" value="{{ restaurant.location.zip_code }}">
                    <input type="hidden" name="location-longitude" value="{{ restaurant.coordinates.longitude }}">
                    <input type="hidden" name="location-latitude" value="{{ restaurant.coordinates.latitude }}">
                    {% block visited_button %}
                        <input type="submit" class="btn-sm btn-primary float-right" id="home-page-visited" value="Visited">
                    {% endblock visited_button %}
                </form>
            </div>
            {% endblock footer %}
        </div>
    {% endfor %}
    {% block pagination %}
        <div class="card mb-3" id="pagination">
            <div class="row justify-content-center p-1">
                {% if page != 1 %}
                    <a class="btn end-button align-self-center p-2" href="?page={{ page|add:'-1' }}">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </a>
                {% endif %}
                {% if page != 1 and page != 2  %}
                    <a class="btn my-1" href="{% url 'home' %}"> 1 </a>
                    <div class="ellipsis my-1 py-1 px-0">...</div>
                {% endif%}
                {% for i in i|rjust:10 %}
                    {% if page == forloop.counter %}
                        <a class="btn active my-1" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    {% elif page == 1 and forloop.counter < page|add:'3' %}
                        <a class="btn my-1" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    {% elif page == 10 and forloop.counter > page|add:'-3' %}
                        <a class="btn my-1" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    {% elif page != 1 and forloop.counter > page|add:'-2' and forloop.counter < page|add:'2' %}
                        <a class="btn my-1" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    {% endif %}
                {% endfor %}
                {% if page != 9 and page != 10 %}
                    <div class="ellipsis my-1 py-1 px-0">...</div>
                    <a class="btn my-1" href="?page=10"> 10 </a>
                {% endif %}
                {% if page != 10 %}
                    <a class="btn end-button align-self-center p-2" href="?page={{ page|add:'1' }}">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endblock pagination %}
{% endblock content %}