{% extends "bookmark/home.html" %}

<!-- Subtitle -->
{% block subtitle %}
    <h6 class="card-subtitle">
        {% for category in categories %}
            {% if category.restaurant == restaurant %}
                {{ restaurant.location.address }} &#8226; {{ category.category.title }}
                {% if restaurant.price is not None %}
                    &#8226; {{ restaurant.price }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </h6>
{% endblock subtitle %}

<!-- Close button -->
{% block close_button %}
    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="business_id" value="{{ restaurant.business_id }}">
        <input type="hidden" name="name" value="{{ restaurant.name }}">
        <input type="submit" class="close" value="&times;">
    </form>
{% endblock close_button %}

<!-- Card footer -->
{% block footer %}
{% endblock footer %}

<!-- Pagination -->
{% block pagination %}
    {% if is_paginated %}
        {% include "bookmark/pagination.html" %}
    {% endif %}
{% endblock pagination %}