body {
    background: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}

/***** navigation bar *****/

/* navbar */
.navbar {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px rgba(229, 229, 229, 0.75);
}

/* navbar links */
#bootstrap-overrides .navbar-brand,
#bootstrap-overrides .nav-link {
    color: rgba(51, 51, 51, 0.75);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* search bar */
#search {
    width: 100%;
}

/* common attributes for search form and button */
.form-control,
.input-group-append {
    background-color: rgba(51, 51, 51, 0.1);
    border-color: rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 0.75);
}

/* search form */
.form-control {
    border-radius: 20px 0px 0px 20px;
}

/* search button */
.input-group-append {
    border-radius: 0px 20px 20px 0px;
    height: 38px;
    left: 1px;
    position: relative;
}

/***** main content *****/

/* main div */
main {
    margin-top: 15px;
}

/* card image */
.card-image-top {
    border-radius: 13px 13px 0px 0px;
    height: 150px;
    object-fit: cover;
}

/* alerts */
.alert {
    border-radius: 15px;
}

/* card */
.card {
    background-color: white;
    border-radius: 15px;
    color: rgba(51, 51, 51, 0.75);
    box-shadow: 0px 0px 15px rgba(229, 229, 229, 0.75);
    border: 2px solid rgba(229, 229, 229, 0.75);
}

/* common attributes for card title and subtitle */
.card-title,
.card-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* card title */
.card-title {
    color: rgba(51, 51, 51, 0.75);
    font-size: 20px;
    font-weight: 500;
}

/* card subtitle */
.card-subtitle {
    color: rgba(51, 51, 51, 0.40);
    font-weight: normal;
    font-size: 16px;
}

/* card close button */
.close {
    background-color: transparent;
    border-width: 0px;
    box-shadow: none;
    color: rgba(51, 51, 51, 0.75);
    outline: none;
}

/* card footer */
#bootstrap-overrides .card-footer {
    border-width: 0px;
    height: 30px;
    border-radius: 0px 0px 13px 13px;
}

/* bookmark and visited buttons */
.btn-sm {
    background: rgba(229, 229, 229, 0.25);
    border-color: rgba(229, 229, 229, 0.5);
    border-top-width: 2px;
    border-bottom-width: 0px;
    color: rgba(51, 51, 51, 0.40);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
}

/* home page bookmark button */
#home-page-bookmark {
    border-left-width: 0px;
    border-radius: 0px 0px 0px 13px;
}

/* home page visited button */
#home-page-visited {
    border-right-width: 0px;
    border-radius: 0px 0px 13px 0px;
}

/* focus state of bookmark and visited buttons */
.btn-sm:focus,
#home-page-bookmark:focus,
#home-page-visited:focus {
    outline: none;
}

/* bookmarks page visited button */
#bookmarks-visited {
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0px 0px 13px 13px;
}

/* pagination card */
#pagination.card {
    border-width: 0px;
    box-shadow: none;
    height: auto;
}

/* pagination buttons */
#pagination .btn {
    background: transparent;
    border-width: 0px;
    border-radius: 30px;
    color: rgba(51, 51, 51, 0.40);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 0px 2px 0px 2px;
}

/* active state and hover on pagination buttons */
#pagination .btn.active,
#pagination .btn:hover {
    background: rgba(51, 51, 51, 0.10);
}

/* pagination ellipses */
#pagination .ellipsis {
    color: rgba(51, 51, 51, 0.40);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 20px;
    margin: 0px 2px 0px 2px;
}

/* pagination end buttons */
#pagination .end-button,
#pagination .end-button:hover {
    background: transparent;
    font-size: 16px;
    border-radius: 20px;
    line-height: 16px;
}

/***** bookmarks sidebar *****/

/* sidebar */
.sidebar {
    background: transparent;
    box-shadow: 0px 0px 15px rgba(229, 229, 229, 0.75);
    border-radius: 15px 15px 15px 15px;
}

/* sidebar header */
#sort-by {
    background: rgba(229, 229, 229, 0.7);
    border-radius: 13px 13px 0px 0px;
    border-color: rgba(229, 229, 229, 0.5);
    border-width: 2px;
    color: rgba(51, 51, 51, 0.40);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* sidebar buttons */
.btn-bottom,
.btn-middle {
    background: rgba(229, 229, 229, 0.25);
    border-color: rgba(229, 229, 229, 0.5);
    border-width: 2px;
    color: rgba(51, 51, 51, 0.40);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* sidebar buttons on hover */
.btn-bottom:hover,
.btn-middle:hover {
    color: rgba(51, 51, 51, 0.75);
}

/* bottom sidebar button */
.btn-bottom {
    border-radius: 0px 0px 15px 15px;
    border-top: none;
}

/* middle sidebar buttons */
.btn-middle {
    border-radius: 0px;
    border-top: none;
}

/* active state of sidebar buttons in bookmarks */
.btn-bottom:active,
.btn-middle:active {
    outline: none;
}

/* sidebar left gutter */
.card.sidebar {
    margin-left: -15px;
}