/* current font */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* remove border from cards */
#bootstrap-overrides .card {
    border-width: 0px;
}

/* prevent line breaking when card width is small */
#bootstrap-overrides .card-title, .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* subtitle font customization */
#bootstrap-overrides .card-subtitle {
    color: gray;
    font-weight: normal;
}

/* fix image size */
#bootstrap-overrides .img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-width: 0px;
}

/* change background color of active nav link */
#bootstrap-overrides .nav-link.active {
    border-bottom-color: #f8f9fA;
    background-color: #f8f9fA;
}

/* remove border from close button */
#bootstrap-overrides .close {
    background-color: #f0f1f2;
    border-width: 0px;
    outline: none;
    box-shadow: none;
}

/* remove rounded borders and set fixed width */
#bootstrap-overrides .btn-middle {
    border-radius: 0px;
    width: 110px;
}

/* round top-left and -right borders and set fixed width */
#bootstrap-overrides .btn-end {
    border-radius: 5px 5px 0px 0px;
    width: 110px;
}