body {
    background: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}

/***** navigation bar *****/

/* navbar */
#bootstrap-overrides .navbar {
    background: rgba(255, 255, 255, 1);
}

/* navbar links */
#bootstrap-overrides .navbar-brand,
#bootstrap-overrides .nav-link {
    color: rgba(51, 51, 51, 0.75);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* search bar */
#bootstrap-overrides #search {
    width: 100%;
}

/* common attributes for search form and button */
#bootstrap-overrides .form-control,
#bootstrap-overrides .input-group-append {
    background-color: rgba(51, 51, 51, 0.1);
    border-color: rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 0.75);
}

/* search form */
#bootstrap-overrides .form-control {
    border-radius: 20px 0px 0px 20px;
}

/* search button */
#bootstrap-overrides .input-group-append {
    border-radius: 0px 20px 20px 0px;
    height: 38px;
    left: 1px;
    position: relative;
}

/***** main content *****/

#bootstrap-overrides .card-image-top {
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    object-fit: cover;
}

/* common attributes for alerts and cards */
#bootstrap-overrides .alert,
#bootstrap-overrides .card {
    border-radius: 15px;
}

/* card */
#bootstrap-overrides .card {
    background-color: white;
    color: rgba(51, 51, 51, 1);
}

/* common attributes for card title and subtitle */
#bootstrap-overrides .card-title,
#bootstrap-overrides .card-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* card subtitle */
#bootstrap-overrides .card-subtitle {
    color: gray;
    font-weight: normal;
}

/* card close button */
#bootstrap-overrides .close {
    background-color: transparent;
    border-width: 0px;
    box-shadow: none;
    color: rgba(51, 51, 51, 0.75);
    outline: none;
}

/* card footer */
#bootstrap-overrides .card-footer {
    border-bottom-width: 0px;
    border-radius: 0px 0px 15px 15px;
}

/* bookmark and visited buttons */
#bootstrap-overrides .btn-sm {
    background-color: transparent;
    border-color: rgba(51, 51, 51, 0.7);
    border-radius: 20px;
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* focus state of bookmark and visited buttons */
#bootstrap-overrides .btn-sm:focus {
    outline: none;
}

/***** bookmarks sidebar *****/

/* sidebar card header */
#bootstrap-overrides #sort-by.card-header{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* common attributes of sort-by buttons in bookmarks */
#bootstrap-overrides .btn-bottom,
#bootstrap-overrides .btn-middle,
#bootstrap-overrides .btn-top {
    background-color: transparent;
    border-color: rgba(51, 51, 51, 0.7);
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* bottom sidebar button */
#bootstrap-overrides .btn-bottom {
    border-radius: 0px 0px 15px 15px;
    border-top: none;
}

/* middle sidebar buttons */
#bootstrap-overrides .btn-middle {
    border-radius: 0px;
    border-top: none;
}

/* top sidebar button */
#bootstrap-overrides .btn-top {
    border-radius: 15px 15px 0px 0px;
}

/* active state of sort-by buttons in bookmarks */
#bootstrap-overrides .btn-bottom:active,
#bootstrap-overrides .btn-middle:active,
#bootstrap-overrides .btn-top:active {
    outline: none;
}

/* sidebar left gutter */
#bootstrap-overrides .card.sidebar {
    margin-left: -15px;
}